---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogItems from '../components/BlogItems.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ProjectItems from '../components/ProjectItems.astro';
import ToggleSwitch from '../components/ToggleSwitch.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div style="min-height: calc(100vh - 400px); align-items: center; display: flex; flex-direction: column; gap: 10rem; padding: 2rem;">
				<section style="flex: 3; min-width: 320px; padding-top:5rem;">
					<h1>Hello, There!</h1>
					<p>
						🚧 SITE UNDER CONSTRUCTION, AS AND WHEN I FEEL LIKE IT 🚧<br/>
						I'm a Software engineer from the UK, and this is my blog/portfolio/links thing...
					</p>
					<br/>


					<h5>"Quick" About me</h5>
					<ToggleSwitch offContent="TL;DR" onContent="More pls"/>
					<p>
						My day job is as an Engineer for <a href="https://www.sainsburys.jobs/teams/technology">Sainsbury's Tech</a>, and I work on a few open source projects in my spare time.
					</p>
					<p>
						I started my software career in <code>2012</code>, writing C# for a small company that built bespoke Matererials and Dynamic Test Automation software for their in-house hardware product.<br/> 
						Working my way up from an Apprentice to Software Lead, I was part of many interesting projects, such as F1 Rear Wing testing, to Aircraft Landing gear & Helicopter Chassis, to the "stretchy-ness" of a particular material... 
						<code>Tensile Stress/Strain and Youngs Modulus for the pedantic ;)</code>
					</p>
					<p>
						Since parting ways with that company in <code>2020</code> (what a year..), I have worked in the Music Production Hardware, Warehouse Automation, Industrial Vending, Simulator Ride, and now Retail industries.
						</p>
					<p>
						I've authored Web, Desktop, Mobile, and Firmware, in a wide variety of languages.<br />
						<code>C#, Rust, JavaScript/TypeScript, Python, C, C++, Matlab, Assembly, Structured Text, Custom Assembler & Custom Scripting Languages</code>... 
						I'm sure there's more, but you get the idea!
					</p>
					
					<br/>
					<h5>Open Source projects</h5>
					<p>
						I've been involved in a few open source projects over the years, not in any large capacity, until very recently.
						Heck, I've not had that much of a general online presence until recently! but I have been working on a few things that I think are worth sharing:
					</p>
					<br/>
					<ProjectItems/>



					
				</section>
				<section
					style="flex: 1; box-sizing: border-box; min-width: 320px; max-width: 900px;"
					id="blog">
					<BlogItems />
				</section>
			</div>
		</main>
		<Footer />
	</body>
</html>
